.todo-item {
    .well {
        margin-bottom: 5px;
        .checkbox {
            margin: 0;
            padding: 0 15px;
            label {
                word-break: break-word;
            }
            label.completed {
                text-decoration: line-through;        
            }
        }

    }
}